
.corpo{
    background-color: #EAD8B1;
    font-family: arial,sans-serif;
    
}

li a{
    color: #133E87;
    
    
}

h2{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 40px;
    color: white;
}

p{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

h3{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    color: white;
}

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    background-color:#133E87
    max-width: 1200px;
    justify-content: left;
    padding: 20px;
    height: 60px;
}

.logo{
    font-size: 1.5em;
    font-family: "Nerko One", cursive;
    font-style: normal;
    color: #001F3F;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links li{
    text-decoration: none;
    color: #608BC1;
    padding: 10px 15px;
    transition: background 0.3s;
}

.navegação{
    display: flex;
    justify-content: center;
    background-color:#608BC1;

}

.nav-links a{
    color: #001F3F;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s;
}

.nav-links a:hover{
    background-color: #EAD8B1;
    border-radius: 5px;
}

.risoto{
    width: 316px;
    height: auto;
    display: flex;
}

.mousse{
    width: 300px;
    height: auto;
    display: flex
}

.cogumelos{
    width: 300px;
    height: auto;
    display: flex;
    
}

.elemento{
    list-style-type: none;
    
    
}

.carrossel{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    
}

.introdução{
    display: flex;
    background-color: #001F3F;
    flex-direction: column;
    padding-bottom: 50px;
}
